cmake_build/
tools/*
!tools/*.7z
!tools/*.7z.*
!tools/*.tar.gz
!tools/*.tar.gz*
MSDK/app/_build_date.h
MBL/project/cmake/bin/
MSDK/projects/cmake/output/bin/
scripts/images/image-all.bin
scripts/images/image-ota.bin
scripts/images/mbl.bin
